/* mycss */


body{
	height: 100%;
	font-size: 14px;
	color: #333333;
}
#wrapper{
	width: 100%;
	background-color: red;
	margin-top: 60px;
}
.inner{
	width: 800px;
	margin: 0 auto;
}
h2{
	font-size: 50px;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	margin-bottom: 50px;
}

#header{
	background-color: #27323d;
	overflow: hidden;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
}
#header h1 a{
	text-decoration: none;
	color: #ffffff;
	float: left;
	padding: 10px 20px 10px 20px;
	font-family: 'Dancing Script', cursive;
	font-size: 32px;
}
.menu{
	float: right;
	margin: 10px 20px 10px 20px;
}

.menu ul li{
	float: left;
	font-size: 17px;
	text-align: center;
	width: 85px;
	padding: 10px 0;
}
.menu ul li a{
	text-decoration: none;
	display: block;
	color: #f2f3f5;
	font-family: 'Droid Sans', sans-serif;
}


#top{
	background-color: #f2f3f5;
	overflow: hidden;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 400px;
}
#inner_1{
	width:550px;
	height: 300px;
	margin: auto;
}


#top p{
	font-size: 100px;
	float: left;
	font-family: 'Droid Sans', sans-serif;
}


#about{
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}
#about p{
	text-align: center;
}

#past{
	background-color: #f2f3f5;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;

}
#script_left{
	float: left;
	width: 400px;
}
#pic_right{
	margin-top: 80px;
	float: right;
	width: 400px;
}
#pic_right img{
	text-align: center;
}

#past_1{
	width: 500px;
	padding: 0px 20px;
	margin: 100px auto 60px;
}
#past_2{
	width: 300px;
	padding: 20px 20px;
	margin: 60px auto 10px;
}
#past_3{
	width: 300px;
	padding: 20px 20px;
	margin: 60px auto 10px;
}
#past_3 a{
	text-decoration: none;
	color: #e6387d;
}

#future{
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;

}
#future_1{
	width: 500px;
	margin:100px auto 0px;
	text-align: left;
}
#sawareru{
	margin-top: 50px ;
	margin-bottom: 50px;
	text-align: center;
}
#future_2{
	width: 500px;
	margin:0px auto;
	text-align: left;
}

#inner_2{
	width: 560px;
	margin: 0 auto;
}

#lunch{
	background-color: #f2f3f5;
	padding-top: 100px;
	padding-bottom: 100px;
}
#lunch a{
	text-align: center;
}
#lunch p{
	width: 500px;
	margin: 50px auto;
}
.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #f7ba59;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.button:hover {
	letter-spacing: 5px;
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}

.button:active {
	top: 3px;
	box-shadow: none;
}
#btn{
	text-align: center;
	margin: 50px auto;
}


#footer{
	text-align: center;
	background-color: #ffffff;
	padding-top: 80px;
	padding-bottom: 80px;
}

